.body-font {
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #c0c0c0;
}


.rounded-rectangle {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    transition: background-image 1s ease-in-out;
}

.rounded-rectangle .content {
    color: white;
    text-align: center;
    z-index: 10; /* Ensure content appears on top of background */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.noto-sans-300-home {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: #e5e5e5;
}
  
.noto-sans-700-home {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: #e5e5e5;
}

  