.body-font {
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #c0c0c0;
}


.rounded-rectangle-404 {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    position: relative;
    background-color: #333333;
    overflow-y: auto;
    justify-content: center;
    align-content: center;
    display: flex;
}

.rounded-rectangle-404 .content {
    color: white;
    text-align: left;
    z-index: 10; /* Ensure content appears on top of background */
    height: "150%";
    justify-content: center;
    align-content: center;
}


.image-404{
  max-height: 80vh;
  width: 100%;
}

.noto-sans-300-404 {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: #e5e5e5;
}
  
.noto-sans-700-404 {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: #e5e5e5;
}



.cool-link {
    text-decoration: none;
    color: #6da9c9;
    position: relative;
    font-weight: 400;
}

.cool-link::before {
  content: '';
  background-color: rgba(66, 96, 108, 0.75);
  position: absolute;
  left: -5%;
  bottom: -2px;
  width: 110%;
  height: 4px;
  border-radius: 2px;
  z-index: -1;
  transition: all .3s ease-in-out;
}

.cool-link:hover::before {
  bottom: 0;
  height: 90%;
}


.cool-link2 {
    text-decoration: none;
    color: #6da9c9;
    position: relative;
    font-weight: 400;
}

.cool-link2::before {
  content: '';
  background-color: rgba(66, 96, 108, 0.75);
  position: absolute;
  left: -1%;
  bottom: -2px;
  width: 102%;
  height: 4px;
  border-radius: 2px;
  z-index: -1;
  transition: all .3s ease-in-out;
}

.cool-link2:hover::before {
  bottom: 0;
  height: 90%;
}
  