.body-font {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #c0c0c0;
}



/* Container for the PDF */
.pdf-container {
  display: flex;
  justify-content: center; /* Center the iframe horizontally */
  align-items: center; /* Center the iframe vertically */
  padding: 20px;
  border-radius: 20px; /* Rounded corners */
  box-shadow: 0 4px 12px rgba(133, 133, 133, 0.2); /* Shadow for the floating effect */
  background-color: white; /* Optional background color */
  max-width: 90%; /* Limit the max width */
  margin: 40px auto; /* Center the container with some margin */
}

@media screen and (max-width: 650px) {
  .pdf-container {
    justify-content: left;
  }
}



/* Styles for the iframe */
.pdf-iframe {
  border: none; /* Remove iframe border */
  border-radius: 15px; /* Rounded corners for the iframe */
}






.button-container {
  display: flex; /* Use flexbox layout */
  justify-content: center; /* Center horizontally */
}


.rounded-button {
  background-color: #007bff; /* Button background color */
  padding: 12px 20px; /* Button padding */
  margin: 15px;
  border: none; /* Remove border */
  border-radius: 10px; /* Rounded corners */
  font-size: 16px; /* Text size */
  cursor: pointer; /* Pointer cursor on hover */
  box-shadow: 0 4px 2px rgba(133, 133, 133, 0.2); /* Shadow effect */
  transition: all 0.3s ease; /* Smooth transition for hover effect */
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #ececec;
}

.rounded-button:hover {
  background-color: #0056b3; /* Darker background on hover */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}